.wrapper {
    background-color: #181A1B;
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center;
}

.b1 {
    border: none;
    padding: 5px 10px;
    text-align: center;
    color: white;
    background: #dc3545;
    border-radius: 30px;
}

.b2 {
    border: none;
    padding: 5px 10px;
    text-align: center;
    color: white;
    background: #dc3545;
    border-radius: 30px;
}
